  nav {
    text-align: center;    
  }

  nav ul{
    list-style: none;    
  }

  nav ul li{
    padding: 18px;
    background-color:rgb(242, 242, 242); 
    display: inline;
    border: 1px 1px 1px 1px;
    border-radius: 40% 15%;  

  }

  nav ul li a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20pt;
    color:rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px 15px 5px;
    text-shadow: 1px 1px 3px;  
  }

  nav ul li a:hover {
    color: firebrick;
    
  }

  body{
    background-color: rgb(133, 133, 133);
  }
  
  header{
    padding: 20px;    
  }
  
  
  .img-center{      
      max-width: 100%;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;     
      width: 90%;
      border-radius: 10px;      
      box-shadow: 2px 2px 5px;      
      transition: width 0.5s;      
  }

  .img-center:hover {     
      width: 92%;      
  }

  #img-div{
    font-weight: bolder;
  }
  .storytelling {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
    padding-bottom: 10px;
    text-align: justify;
  }

  .frame {
    background-color: lightgray;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
    filter: grayscale(100%); 
    transition: filter 1s;
  }

  .frame:hover {
    filter: none;
  }